$min-tablet: "screen and (min-width: 769px)";
$max-tablet: "screen and (max-width: 768px)";

.posttypesui, .taxonomiesui {
	.cptui-section:first-child {
		margin-top: 30px;
	}
	width: calc(100% - 300px);
	.postbox-container {
	  width: 100%;
	}
	.postbox .toggle-indicator:before {
		content: "\f142";
		display: inline-block;
		font: normal 20px/1 dashicons;
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-decoration: none !important;
	}
	.postbox.closed .handlediv .toggle-indicator::before {
		content: "\f140";
	}
	.postbox .hndle {
		cursor: pointer;
	}
	.required {
		color: rgb(255, 0, 0);
	}
}
.cptui-table {
	td.outer {
		vertical-align: top;
		width: 50%;
	}
	input[type="text"] {
		width: 75%;
	}
	.question:hover {
		cursor: pointer;
	}
	th p {
		font-weight: 400;
		font-size: 12px;
	}
	.cptui-slug-details {
		margin-top: 15px;
	}

	#slugchanged, #slugexists {
		color: red;
		font-weight: bold;
		&.hidemessage {
			display: none;
		}
	}
}

.cptui-support #support {
	.question {
		font-size: 18px;
		font-weight: bold;
		&:before {
			content: "\f139";
			display: inline-block;
			font: normal 25px/1 'dashicons';
			margin-left: -25px;
			position: absolute;
			-webkit-font-smoothing: antialiased;
		}
		&.active:before {
			content: "\f140";
		}
	}
	.answer {
		margin: 10px 0 0 20px;
	}
	ol li {
		list-style: none;
	}
	li {
		position: relative;
	}
}
.cptui-field-description {
	font-style: italic;
}
#cptui_select_post_type,
#cptui_select_taxonomy {
	margin-top: 15px;
}
.cptui_post_import,
.cptui_tax_import {
	height: 200px;
	margin-bottom: 10px;
	resize: vertical;
	width: 100%;
}
.cptui_post_type_get_code,
.cptui_tax_get_code {
	height: 300px;
	resize: vertical;
}
.about-wrap {
	.cptui-feature {
		overflow: visible !important;
		*zoom:1;
		&:before,
		&:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}
	}
	h3 + .cptui-feature {
		margin-top: 0;
	}
  	.changelog {
	  h2 {
		text-align: center;
	  }
	}
	.feature-rest {
		div {
			width: 50% !important;
			padding-right: 100px;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin: 0 !important;
			&.last-feature {
				padding-left: 100px;
				padding-right: 0;
			}
			&.icon {
				width: 0 !important;
				padding: 0;
				margin: 0;
				&:before {
					font-weight: normal;
					width: 100%;
					font-size: 170px;
					line-height: 125px;
					color: #9c5d90;
					display: inline-block;
					position: relative;
					text-align: center;
					speak: none;
					margin: 0 0 0 -100px;
					content: "\e01d";
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
		}
	}
}
.about-wrap {
	.about-integrations {
		background: #fff;
		margin: 20px 0;
		padding: 1px 20px 10px;
	}
	.changelog {
		h4 {
			line-height: 1.4;
		}
  	}
	.cptui-about-text {
		margin-bottom: 1em !important;
		margin-right: 0;
		max-width: calc(100% - 173px);
	}
}
.email-octopus-form-row {
	input::placeholder {
		color: #cccccc;
	}
}
.email-octopus-form-row-hp {
	visibility: hidden;
}
.cptui-intro-devblock{
    display: flex;
    flex-direction: row;
}

.cptui-help {
	color: #424242;
	margin-left: 4px;
	opacity: 0.5;
	text-decoration: none;
	width: 16px;
	fieldset & {
		position: relative;
		top: 4px;
	}
	&:hover {
		color: #0074a2;
		opacity: 1;
	}
	&:focus {
		box-shadow: none;
	}
}
#menu_icon_preview {
	float: right;
	padding-left: 8px;

	img {
		display: block;
		height: 20px;
		width: 20px;
	}
}

.visuallyhidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.cptui-spacer {
	display: block;
	margin-top: 25px;
}

.email-octopus-form-wrapper {
	background: #fff;
	margin-bottom: 10px;
	padding: 20px;
	label {
		margin-bottom: 10px;
	}
}

.wdsoctosignup {
	h2 {
		text-align:left;
	}
}

.wdspromos {
	float: right;
	margin-left: 20px;
	margin-top: 10px;
	width: 275px;
}
.wdspromos-about {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-content: stretch;
	align-content: stretch;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin: 20px 0;

	a:nth-child(1) {
		-ms-flex-order: 0;
		order: 0;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		-webkit-align-self: auto;
		align-self: auto;
	}

	a:nth-child(2) {
		-ms-flex-order: 0;
		order: 0;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		-webkit-align-self: auto;
		align-self: auto;
	}

	a:nth-child(3) {
		-ms-flex-order: 0;
		order: 0;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		-webkit-align-self: auto;
		align-self: auto;
	}
	p {
	  padding: 0 5px;
	  &:nth-child(1) {
		padding-left: 0;
	  }
	  &:nth-child(4) {
		padding-right: 0;
	  }
	}
}
.no-js {
	#cptui_choose_icon {
		display: none
	}
}
.cptui-listings {
	th {
		font-weight: bold;
	}
	.post-type-listing {
		th {
			width: 16.66667%;
		}
	}
	.taxonomy-listing {
		th {
			width: 20%;
		}
	}
}
#poststuff {
	min-width: 463px;
}

.dashicon-picker-container {
	position: absolute;
	width: 220px;
	height: 252px;
	font-size: 14px;
	background-color: #fff;
	box-shadow: -1px 2px 5px 3px rgba(0, 0, 0, 0.41);
	overflow: hidden;
	padding: 5px;
	box-sizing: border-box;

	ul {
		margin: 0 0 10px;
		padding: 0;

		.dashicons {
			width: 20px;
			height: 20px;
			font-size: 20px;
		}

		li {
			display: inline-block;
			margin: 5px;
			float: left;

			a {
				display: block;
				text-decoration: none;
				color: #373737;
				padding: 5px 5px;
				border: 1px solid #dfdfdf;

				&:hover {
					border-color: #999;
					background: #efefef;
				}
			}
		}
	}
}

.dashicon-picker-control {
	height: 32px;

	a {
		padding: 5px;
		text-decoration: none;
		line-height: 32px;
		width: 25px;

		span {
			display: inline;
			vertical-align: middle;
		}
	}

	input {
		font-size: 12px;
		width: 140px;
	}
}

@media #{$min-tablet} {
	.cptui-badge {
		margin-top: -42px;
	    height: 173px;
	    width: 173px;
	    color: #fafafa;
	    font-weight: bold;
	    font-size: 14px;
	    text-align: center;
	    margin-bottom: 10px;
	    background: url(../images/cptui-icon-173x173.png) no-repeat;
	}
}

@media #{$max-tablet} {
  .cptui-table {
	#description {
	  width: 100%;
	}
  }
  .wdspromos-about {
	flex-wrap: wrap;
	p {
	  margin: 5px auto;
	  &:nth-child(1) {
		padding-left: 5px;
	  }
	  &:nth-child(4) {
		padding-right: 5px;
	  }
	}
  }
  .cptui-table {
	td.outer {
	  width: 100%;
	}
  }

  #cptui_debug_info_email {
	width: 100%;
  }
}
