.posttypesui, .taxonomiesui {
	.cptui-section:first-child {
		margin-top: 30px;
	}
}
.cptui-table {
	#excerpt {
		display: inline-block;
		height: 16px;
		margin: 12px 4px 12px 0;
		width: auto;
	}
	td.outter {
		vertical-align: top;
		width: 50%;
	}
	input[type="text"],
	.cptui-new & textarea,
	.cptui-edit & textarea {
		width: 50%;
	}
	.question:hover {
		cursor: pointer;
	}
	th p {
		font-weight: 400;
		font-size: 12px;
	}
	.cptui-slug-details {
		margin-top: 15px;
	}
}

#support {
	.question {
		font-size: 18px;
		font-weight: bold;
		&:before {
			content: "\f139";
			display: inline-block;
			font: normal 25px/1 'dashicons';
			margin-left: -25px;
			position: absolute;
			-webkit-font-smoothing: antialiased;
		}
		&.active:before {
			content: "\f140";
		}
	}
	.answer {
		margin: 10px 0 0 20px;
	}
	ol li {
		list-style: none;
	}
	li {
		position: relative;
	}
}
.required {
	color: rgb(255,0,0);
}
.cptui-field-description {
	font-style: italic;
}
#cptui_select_post_type,
#cptui_select_taxonomy {
	margin-top: 15px;
}
.cptui_post_import,
.cptui_tax_import {
	height: 200px;
	margin-bottom: 10px;
	resize: vertical;
	width: 100%;
}
.cptui_post_type_get_code,
.cptui_tax_get_code {
	height: 300px;
	resize: vertical;
	width: 100%;
}
.one-third {
	width: 33%;
}
.valign {
	vertical-align: top;
}

.about-wrap {
	.cptui-feature {
		overflow: visible !important;
		*zoom:1;
		&:before,
		&:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}
	}
	h3 + .cptui-feature {
		margin-top: 0;
	}
	.feature-rest {
		div {
			width: 50% !important;
			padding-right: 100px;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin: 0 !important;
			&.last-feature {
				padding-left: 100px;
				padding-right: 0;
			}
			&.icon {
				width: 0 !important;
				padding: 0;
				margin: 0;
				&:before {
					font-weight: normal;
					width: 100%;
					font-size: 170px;
					line-height: 125px;
					color: #9c5d90;
					display: inline-block;
					position: relative;
					text-align: center;
					speak: none;
					margin: 0 0 0 -100px;
					content: "\e01d";
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
		}
	}
}
.rtl {
	.about-wrap {
		.feature-rest div {
			padding-left: 100px;
		}
		.feature-rest div.last-feature {
			padding-right: 100px;
			padding-left: 0;
		}
		.feature-rest div.icon:before {
			margin: 0 -100px 0 0;
		}
	}
}
.about-integrations {
	background: #fff;
	margin: 20px 0;
	padding: 1px 20px 10px;
}
.changelog {
	h4 {
		line-height: 1.4;
	}
}
.cptui-about-text {
	margin-bottom: 1em !important;
}
.js {
	#cptui_select_post_type input[type='submit'],
	#cptui_select_taxonomy input[type='submit'] {
		display: none;
	}
}
#togglelabels {
	display: none;
	.js & {
		display: inline-block;
	}
}
.cptui-help {
	color: #424242;
	margin-left: 4px;
	opacity: 0.5;
	text-decoration: none;
	width: 16px;
	fieldset & {
		position: relative;
		top: 4px;
	}
	&:hover {
		color: #0074a2;
		opacity: 1;
	}
	&:focus {
		box-shadow: none;
	}
}
#toplevel_page_cptui_main_menu {
	img {
		height: 20px;
		margin-top: -2px;
		width: 20px;
	}
}
.visuallyhidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.cptui-section {
	fieldset {
		border: solid rgb(204, 204, 204) 1px;
		display: block;
		margin-bottom: 30px;
		padding: 10px;
		overflow: hidden;
		.js &.toggledclosed {
			height: 1px;
		}
	}
	legend {
		border: solid rgb(204, 204, 204) 1px;
		border-bottom: 0px;
		font-size: 14px;
		font-weight: bold;
		padding: 5px;
	}
}
.cptui-spacer {
  	display: block;
	margin-top: 25px;
}
.wdspromos {
  float: right;
  margin-left: 20px;
  margin-top: 10px;
  width: 275px;

  img {
	margin-bottom: 10px;
  }
}
