.help {
	border-radius: 50%;
	display: inline-block;
	height: 15px;
	margin-left: 2px;
	text-align: center;
	width: 15px;
}
.help:hover { font-weight: bold; }
.required { color: rgb(255,0,0); }
.cptui-table #excerpt { height: 16px; margin-right: 4px; width: auto; }
.cptui-table td { vertical-align: top; width: 50%; }
.wdsintro { width: 60%; }
.wdsrss { width: 33%; }
#cptui_select_post_type, #cptui_select_taxonomy { margin-top: 15px; }
.cptui_post_import, .cptui_tax_import {
	height: 200px;
	margin-bottom: 10px;
	resize: vertical;
	width: 100%;
}
.cptui_post_type_get_code, .cptui_tax_get_code {
	height: 300px;
	resize: vertical;
	width: 100%;
}
#cptui_accordion h3:hover { cursor: pointer; }
.question { font-size: 18px; font-weight: bold; }
.answer { margin: 10px 0 0 20px; }
#support li {
	position: relative;
}
#cptui_accordion h3:after, #support li:before {
	content: "\f156";
	display: inline-block;
	font: normal 20px/1 'dashicons';
	-webkit-font-smoothing: antialiased;
}
#support li:before {
	margin-left: -25px;
	position: absolute;
}
#cptui_accordion h3:after {
	padding-left: 5px;
}
#support ol li { list-style: none; }
