language: php

php:
    - 5.3
    - 5.6
    - 7.0
    - hhvm
    - nightly

env:
    - WP_VERSION=4.5 WP_MULTISITE=0
    - WP_VERSION=4.5 WP_MULTISITE=1
    - WP_VERSION=4.7 WP_MULTISITE=0
    - WP_VERSION=4.7 WP_MULTISITE=1

matrix:
  fast_finish: true
  allow_failures:
      php: hhvm
      php: nightly

before_install: composer self-update
install: composer install

before_script:
  - export PATH="$home/.composer/vendor/bin:$PATH"
  |
  if [[ ${TRAVIS_PHP_VERSION:0:2} == "7." ]]; then
    composer global require "phpunit/phpunit=5.7.*"
  else
    composer global require "phpunit/phpunit=4.8.*"
  fi
  - bash tests/bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
  - phpunit --version

branches:
    only:
        - master
        - alpha
