<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.4/phpunit.xsd"
		bootstrap="tests/bootstrap.php"
		backupGlobals="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<!--<directory prefix="test-" suffix=".php">./</directory>-->
			<directory suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
